@import url('https://fonts.googleapis.com/css?family=Nanum+Myeongjo&display=swap');
body {
  margin: 0;
  font-family: 'Nanum Myeongjo', serif; 
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box; 
  min-height:100%;
}
#root{
  min-height: 100%;
}
html{
  height : 100%; 
}
a{
  color:inherit; text-decoration: none;
}
*{
  box-sizing: inherit;
  font-family: 'Nanum Myeongjo', serif; 
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
